@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-lg-11">
        <address>
            1636 Lilac Ln<br />ik
            Auburn, CA 95603<br />
            <abbr title="Phone">P:</abbr>
            1-408-767-9405
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:AllcomSolar@gmail.com">AllcomSolar@gmail.com</a>
        </address>
    </div>
</div>