@{
    ViewBag.Title = "Allcom Electric";
}


<div class="row">
    <h2>Professional Residential / Commercial Solar and Electric</h2>
    <div class="info col-md-4">
        <p class="info"> Allcom Electric is a family owned and Operated business located in central auburn. </p>
        <h2>Contact For A Free Quote!</h2>
        <p>
            @Html.ActionLink("Free Quote", "Contact", "Home")

        </p>
    </div>
    <div class="info col-md-4">
        <p class="info"> Allcom Electric is a family owned and Operated business located in central auburn. </p>
        <h2>Contact For A Free Quote!</h2>
        <p>
            @Html.ActionLink("Free Quote", "Contact", "Home")

        </p>
    </div>
</div>